fastapi
uvicorn
python-multipart
pydantic
sqlalchemy

langchain-community
langchain-text-splitters
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf

google-generativeai
python-dotenv

pytesseract
Pillow
opencv-python
numpy
